#submit-button {
    margin-top: 10px;
}

#tech-form1, #tech-form1::placeholder {
    margin-bottom: 15px;
    color: #d8d5d7;
    border-color: #393939;
    background-color: white;
}

.form-name{
    display: flex;
    justify-content: center;
    color: #282828;
    margin-top: 10px;
    margin-right: 30px;
    padding-left: 20px;
    font-size: x-large;
}

.form-name-s{
    display: flex;
    color: #282828;;
    font-weight: bold;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 30px;
    padding-left: 20px;
    font-size: xx-large;
}

.app-container {
    overflow-y: scroll;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 10px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #282828;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    font-size: 32px;
  }

  th {
    background-color: #282828;
    width: (100%/5);
    font-size: x-large;
    color: white;
    border: solid 1px white;
    font-style: italic;
  }

  td {
    width: (100%/5);
    background-color: white;
    font-size: medium;
    color: #282828;
  }

  form {
    display: flex;
    gap: 5px;
  }

  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }

  form * {
    font-size: 28px;
  }

  .flex-container{
    display: flex;
    flex-direction: row;

  }

  .rowsies{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: solid 2px #282828
  }

  .app-list{
    max-width: max-content;
  }

  label {
    font-size: large;
    color: #282828;;
    font-weight: bold;
  }

  .col-sm{
    padding-top: 50px;
  }

  .search-bar{
    margin-left: 50px;
    border: solid 3px #282828;;
    color: white;
    background-color: white;
    padding-bottom: 5px;
  }

  .search-bar::placeholder{
    color: #282828;;
  }

  .form-container{
    display: flex;
    flex-direction: column;
  }

  .fincan-container{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
    margin: auto;
  }

  .fincan-f{
    color: #282828;;
    background-color: #f6b4e3;
    border: solid 2px #282828;
    margin-right: 5px;
  }

  .fincan-c{
    border: solid 2px #f6b4e3;
    color: #f6b4e3;
    background-color: #282828;
  }

  #submit-button{
    background-color: #282828;;
    border: solid 1px #282828;
  }

  #navbar{
    background-color: #282828!important;
    border: solid 2px #282828;
  }

  #carcar{
    background-image: url("./images/barbie.jpg");
    background-repeat: no-repeat;
    background-size: cover!important;
  }

  .bg-success{
    background-color: #282828;
    background: #282828;
  }

  html { height:100% !important; }

  #datesh{
    padding-left: 30px;
    padding-right: 30px;
  }

  .carcar-title{
    padding-top: 80px;
    text-align: center;
    color: #282828;
    font-weight: bold;
    font-size: 80px;
  }

  .paragraphs{
    color: #1c1b1c;
    text-align: center;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
  }

  .nav-item {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-weight: bold;
  }

  #root{
    background-color: white;
    height: 100%;
  }
